---
Checks: '-*,

        bugprone-*,

        clang-analyzer-*,

        concurrency-*,

        cppcoreguidelines-*,
        -cppcoreguidelines-macro-usage,

        modernize-*,
        -modernize-use-trailing-return-type,

        performance-*,

        portability-*,

        readability-*,
        -readability-identifier-length,
        '
...
